:root {
  --bottle-scale: 0.8;
}

.bottle {
  position: fixed;
  bottom: -45px;
  right: 30px;
  transform: scale(var(--bottle-scale)) rotate(18deg) translateX(-50%);
  width: 72px;
  height: 101px;
  background-image: url("./egg-bottle-icon.png");
  background-size: cover;
  animation: bob 1.5s infinite ease-in-out;
  transition: bottom 1s ease-in-out, filter 0.1s ease-in-out;
  cursor: pointer !important;
}

@keyframes bob {
  0%, 100% {
    margin-bottom: 40px;
  }
  50% {
    margin-bottom: 50px;
    transform: scale(var(--bottle-scale)) rotate(14deg) translateX(-50%);
  }
}

.bottle-label {
	position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  text-align: center;
	font-family: "Seurat Pro B", "Varela Round", sans-serif;
	font-size: 24px;
	color: #fff;
	background-color: #f49802;
	padding: 2px;
  padding-bottom: 1px;
	border-radius: 1000px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.bottle-hide {
  bottom: -200px;
  transition: bottom 0.65s ease-in-out;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  .bottle {
    --bottle-scale: 0.6;
  }
}