@font-face {
	font-family: "Seurat Pro B";
	src: url("fonts/FOT-Seurat Pro B.otf") format("opentype");
}

.card:nth-child(even) {
	transform: rotate(-2deg);

}

.card:nth-child(odd) {
	transform: rotate(2deg);

}

:root {
	--card-vertical-padding: 7.5%;
	--card-horizontal-padding: 9.4%;
	--card-scale: 0.4;
}

.card {
	width: calc(1180px * var(--card-scale));
	height: calc(748px * var(--card-scale));
	background-repeat: no-repeat;
	background-size: contain;
	filter: drop-shadow(0 10px 6px rgba(0, 0, 0, 0.15));
	margin: 15px;
	transition-duration: 0.15s;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: "Seurat Pro B", "Varela Round", sans-serif;
	font-size: calc(38px * var(--card-scale));
	letter-spacing: 1.5px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	will-change: transform;
}

.card:hover {
	transform: scale(1.15);
	filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
	transition-duration: 0.15s;
	z-index: 2;
}

.card-start {
	position: absolute;
	top: var(--card-vertical-padding);
	left: var(--card-horizontal-padding);
}

.card-message {
	position: absolute;
	width: 100%;
	padding: 17% 15.5%;
	flex-grow: 1;
	overflow-y: auto;
	box-sizing: border-box;
	white-space: pre-wrap;
}

.card-signature {
	position: absolute;
	text-align: right;
	bottom: var(--card-vertical-padding);
	right: var(--card-horizontal-padding);
}

.card-label {
	font-size: 14px;
	color: #fffeee;
	text-shadow: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) translateY(50%);
	opacity: 0;
	background: #4ebcb1;
	padding: 10px;
	border-radius: 100px;
}

.card:hover .card-label {
	opacity: 95%;
	transition: opacity 0.1s ease-in-out;
}

.airmail-card {
	background-image: url("./backgrounds/Airmail_Card_NH.png");
}

.baby-goods-card {
	--card-horizontal-padding: 13%;
	background-image: url("./backgrounds/Baby-Goods_Card_NH.png");
}

.balloons-card {
	background-image: url("./backgrounds/Balloons_Card_NH.png");
}

.bandage-card {
	background-image: url("./backgrounds/Bandage_Card_NH.png");
}

.beach-card {
	background-image: url("./backgrounds/Beach_Card_NH.png");
}

.birthday-cake-card {
	background-image: url("./backgrounds/Birthday-Cake_Card_NH.png");
}

.blue-sky-card {
	background-image: url("./backgrounds/Blue-Sky_Card_NH.png");
	color: white;
}

.bunny-day-card {
	background-image: url("./backgrounds/Bunny_Day_Card_NH.png");
}

.camo-card {
	background-image: url("./backgrounds/Camo_Card_NH.png");
}

.cherry-blossoms-card {
	background-image: url("./backgrounds/Cherry-Blossoms_Card_NH.png");
	color: rgb(199, 94, 112);
}

.fluffy-clouds-card {
	background-image: url("./backgrounds/Fluffy-Clouds_Card_NH.png");
}

.cool-cool-card {
	background-image: url("./backgrounds/Cool-Cool_Card_NH.png");
}

.common-card {
	background-image: url("./backgrounds/Common_Card_NH.png");
}

.dandelion-card {
	background-image: url("./backgrounds/Dandelion_Card_NH.png");
}

.dawning-year-card {
	background-image: url("./backgrounds/Dawning-Year_Card_NH.png");
}

.decorative-card {
	background-image: url("./backgrounds/Decorative_Card_NH.png");
}

.dragonflies-card {
	background-image: url("./backgrounds/Red-Dragonflies_Card_NH.png");
	color: rgb(185, 83, 14);
}

.elegant-roses-card {
	background-image: url("./backgrounds/Elegant-Roses_Card_NH.png");
	color: pink;
}

.fanciful-card {
	background-image: url("./backgrounds/Fanciful_Card_NH.png");
}

.fantasy-stars-card {
	background-image: url("./backgrounds/Fantasy-Stars_Card_NH.png");
}

.fathers-day-card {
	background-image: url("./backgrounds/Fathers_Day_Card_NH.png");
	text-shadow: -2px 0 #DDFEF3, 0 2px #DDFEF3, 2px 0 #DDFEF3, 0 -2px #DDFEF3;
}

.fireworks-card {
	background-image: url("./backgrounds/Fireworks_Card_NH.png");
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.flower-bouquet-card {
	background-image: url("./backgrounds/Flower-Bouquet_Card_NH.png");
}

.full-bloom-card {
	background-image: url("./backgrounds/Full-Bloom_Card_NH.png");
}

.gears-card {
	background-image: url("./backgrounds/Gears_Card_NH.png");
	color: silver;
}

.gem-card {
	background-image: url("./backgrounds/Gem_Card_NH.png");
}

.goldfish-card {
	background-image: url("./backgrounds/Goldfish_Card_NH.png");
}

.graduation-card {
	background-image: url("./backgrounds/Graduation_Card_NH.png");
}

.graffiti-card {
	background-image: url("./backgrounds/Graffiti_Card_NH.png");
	color: rgb(222, 214, 255);
}

.happy-clovers-card {
	background-image: url("./backgrounds/Happy-Clovers_Card_NH.png");
}

.hibiscus-card {
	background-image: url("./backgrounds/Hibiscus_Card_NH.png");
}

.lovely-hearts-card {
	background-image: url("./backgrounds/Lovely_Hearts_Card_NH.png");
}

.mothers-day-card {
	background-image: url("./backgrounds/Mothers_Day_Card_NH.png");
	text-shadow: -2px 0 #FEEFDF, 0 2px #FEEFDF, 2px 0 #FEEFDF, 0 -2px #FEEFDF;
}

.red-dragonflies-card {
	background-image: url("./backgrounds/Red-Dragonflies_Card_NH.png");
}

.ribbon-card {
	background-image: url("./backgrounds/Ribbon_Card_NH.png");
}

.shapes-card {
	background-image: url("./backgrounds/Shapes_Card_NH.png");
}

.shooting-stars-card {
	background-image: url("./backgrounds/Shooting-Stars_Card_NH.png");
	color: white;
}

.so-many-hearts-card {
	background-image: url("./backgrounds/So-Many-Hearts_Card_NH.png");
	color: rgb(92, 0, 57);
}

.star-card {
	background-image: url("./backgrounds/Star_Card_NH.png");
}

.stationary-goods-card {
	background-image: url("./backgrounds/Stationery-Goods_Card_NH.png");
}

.torn-card {
	background-image: url("./backgrounds/Torn_Card_NH.png");
}

.velvety-card {
	background-image: url("./backgrounds/Velvety_Card_NH.png");
	color: gold;
}

.wedding-card {
	background-image: url("./backgrounds/Wedding_Card_NH.png");
}

.zen-card {
	background-image: url("./backgrounds/Zen_Card_NH.png");
}